.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.chosenBox {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 70%;
    height: 15em;
    overflow: scroll;
    white-space: pre;
}
.colorItem {
    display: flex;
    flex-direction: row;
    margin: .5em;
}
.instructions {
    display: flex;
    justify-content: center;
    /* width: 70%; */
    height: 15em;
    overflow: scroll;
    /* white-space: pre; */
    flex-direction: row;
}
.header {
    font-family: 'Monoton', cursive;
    font-size: 3em;
    /* color: #b362a1; */
}